@import "_variable.scss";

.title {
  font-size: 10rem;
  text-align: left;
  margin-top: 10vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
