@import "_variable.scss";

.factory1 {
  height: 50rem;
  transition: all 0.3s;
  border-radius: 5%;
  margin-top: 3rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 10rem;
}

.factory1:hover {
  transform: translateX(10px) translateY(10px);
  box-shadow: -10px -10px 0.5rem color(subyell);
}

.factory1:active {
  transform: scale(1.3);
}

.factory2 {
  height: 50rem;
  transition: all 0.3s;
  border-radius: 5%;
  margin: 10rem auto;
}

.factory2:hover {
  transform: translateX(10px) translateY(10px);
  box-shadow: -10px -10px 0.5rem color(subyell);
}

.factory2:active {
  transform: scale(1.3);
}

.factory3 {
  height: 50rem;
  transition: all 0.3s;
  border-radius: 5%;
  margin: 10rem auto;
}

.factory3:hover {
  transform: translateX(10px) translateY(10px);
  box-shadow: -10px -10px 0.5rem color(subyell);
}

.factory3:active {
  transform: scale(1.3);
}
