html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
$colors: (
  mainpurp: rgb(122, 37, 172),
  subyell: rgba(214, 199, 67, 0.712),
  green: rgb(200, 200, 57),
  yellow: rgb(19, 104, 19),
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}
