html,
body {
  font-size: 0.5rem;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btnsth,
.btnsth:link,
.btnsth:visited {
  text-decoration: none;
  background-color: #7a25ac;
  font-size: 2rem;
  -webkit-transition: all 3s;
  transition: all 3s;
  position: relative;
  padding: 1vh 1vh;
  margin: 10rem auto;
}

.btn-sthon {
  background-color: #7a25ac;
  color: white;
}

.btn-sthon::after {
  background-color: #7a25ac;
  color: white;
}

.btnsth::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.btnsth:hover::after {
  -webkit-transform: scaleX(1) scaleY(1.5);
          transform: scaleX(1) scaleY(1.5);
}

.btnsth:active {
  -webkit-transform: scaleX(15.5) scaleY(1.5);
          transform: scaleX(15.5) scaleY(1.5);
}

html,
body {
  font-size: 0.5rem;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 0.5rem;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.title {
  font-size: 10rem;
  font-weight: bolder;
  text-align: left;
  margin-top: 10vh;
  background-image: url("./media/sat.gif");
  background-clip: text;
  color: rgba(214, 199, 67, 0.712);
  border-radius: 20%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.title:hover {
  font-size: 15rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

html,
body {
  font-size: 0.5rem;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.factorybox {
  width: 80vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.factory1,
.factory2,
.factory3 {
  height: 50rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 5%;
  margin: 10rem auto;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.factory1:hover,
.factory2:hover,
.factory3:hover {
  -webkit-transform: translateX(10px) translateY(10px);
          transform: translateX(10px) translateY(10px);
  -webkit-box-shadow: -10px -10px 0.5rem rgba(214, 199, 67, 0.712);
          box-shadow: -10px -10px 0.5rem rgba(214, 199, 67, 0.712);
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.factory1:active,
.factory2:active,
.factory3:active {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

html,
body {
  font-size: 0.5rem;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.moddedbox {
  position: relative;
  margin: 3rem;
  background-color: royalblue;
}

.moddedparent {
  width: 60rem;
  height: 40rem;
}

.modded1,
.modded2,
.modded3 {
  width: 5rem;
}

html,
body {
  background-color: #252223;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.factorybox {
  width: 80vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.moddedbox {
  position: relative;
  margin: 3rem;
  background-color: royalblue;
}

.moddedparent {
  width: 60rem;
  height: 40rem;
}
/*# sourceMappingURL=style.css.map */