@import "_button_one.scss";
@import "_variable.scss";
@import "_header.scss";
@import "_factory.scss";
@import "_modded.scss";

html,
body {
  background-color: color(backg);
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.factorybox {
  width: 80vw;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}

.moddedbox {
  position: relative;
  margin: 3rem;
  background-color: royalblue;
}

.moddedparent {
  width: 60rem;
  height: 40rem;
}
